* {
    user-select: none;
    /* border: 1px solid; */

}


:root  {
    --Logo-color: #8187e3;
    --heading-color: #392f83;
    --Cards-bgDiv-color: #DAD0FF;

    /* second last div */
/* background: #1E293B;
background: linear-gradient(90deg, rgba(30, 41, 59, 1) 0%, rgba(48, 45, 127, 1) 100%); */

/* last div */
/* background: #12192B;
background: linear-gradient(90deg, rgba(18, 25, 43, 1) 0%, rgba(48, 43, 134, 1) 100%); */
}

nav {
    background: #322C86;
    background: linear-gradient(90deg, rgba(50, 44, 134, 1) 0%, rgba(109, 20, 175, 1) 100%);
}

nav span {
    color: var(--Logo-color);
}

.hero1 {
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.7)), url(https://saadsalman708.github.io/1st-Hackerthon/assets/image%2020.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero1 h2 {
    font-size: 5rem;
}

.hero1 button {
    background-color: #503df6;
    border: 1px solid #503df6;
}

.hero1 button:hover {
    background-color: var(--heading-color);
    border: 1px solid #ffffff;
}